@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Our Hospital</h1>
    <p>Thank you for choosing our hospital for your healthcare needs.</p>
    <p>Here, we strive to provide the highest quality medical care to our patients.</p>
    <p>Learn more about our services and specialties:</p>
            <table class="table table-bordered text-center">
                <tbody>
                    <tr>
                        <td>Internal Medicine</td>
                    </tr>
                    <tr>
                        <td>Pediatrics</td>
                    </tr>
                    <tr>
                        <td>Surgery</td>
                    </tr>
                </tbody>
            </table>
            <p>if you have any question or need assistance, please don't hesitate to contact us.</p>
</div>
