<div class="container mt-5">
    <h2 class="text-center mb-4">Book Appointment</h2>
    <div class="row">
        @foreach(var item in Model)
        {
            <div class="col-md-4">
                <div class="card">
                    <img src="~/images/@item.Img" class="card-img-top" alt="Dr. John Smith">
                    <div class="card-body">
                        <h5 class="card-title">@item.Name</h5>
                        <p class="card-text">Specialization: @item.Specialization</p>
                        <a href="https://localhost:7278/Doctors/CompleteAppiontment/@item.Id" class="btn btn-primary">Book Appointment</a>
                    </div>
                </div>
            </div>
        }

        
    </div>
</div>